<body>
    <section class="gallery-section">
        <h2 class="section-title">Галерея фотографий</h2>

        <div class="gallery-container">
            <div class="gallery-scroll" id="galleryScroll">
                <div class="photo-card">
                    <img src="Content/Gallery/me-2.drawio.png">
                </div>

                <div class="photo-card">
                    <img src="Content/Gallery/me-4.drawio.png">
                </div>

                <div class="photo-card">
                    <img src="Content/Gallery/me-3.drawio.png">
                </div>

                <div class="photo-card">
                    <img src="Content/Gallery/me-1.drawio.png">
                </div>

                <div class="photo-card">
                    <img src="Content/Gallery/me-5.drawio.png">
                </div>

                <div class="photo-card">
                    <img src="Content/Gallery/me-6.drawio.png">
                </div>
            </div>

            <div class="nav-buttons">
                <button class="nav-btn" onclick="scrollGallery(-1)">←</button>
                <button class="nav-btn" onclick="scrollGallery(1)">→</button>
            </div>
        </div>
    </section>
</body>
