.photo-grid {
    display: grid;
    grid-auto-flow: column;
    /* Размещает элементы в колонку */
    grid-auto-columns: minmax(250px, 1fr);
    /* Минимальная ширина 250px */
    gap: 20px;
    overflow-x: auto;
    padding: 20px;
    scrollbar-width: thin;
    /* Для Firefox */
    scrollbar-color: #888 #f1f1f1;
    /* Для Firefox */
}

.photo-grid img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.photo-grid img:hover {
    transform: scale(1.03);
}

/* Стилизация скроллбара для Webkit браузеров (Chrome, Safari) */
.photo-grid::-webkit-scrollbar {
    height: 8px;
}

.photo-grid::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.photo-grid::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.photo-grid::-webkit-scrollbar-thumb:hover {
    background: #555;
}